.content {
  display: flex;
  flex-wrap: wrap;
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

@media screen and (max-width: 549px)  {
    
}

@media screen and (min-width: 550px) {
  .hero {
    width: 50%;
    order: 0;
  }
  .weather {
    width: 50%;
    order: 1;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    width: 50%;
    order: 0;
  }
  .top-news {
    width: 50%;
    order: 1;
  }
  .scores {
    width: 60%;
    order: 2;
  }
  .weather {
    width: 40%;
    order: 3;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
